.devcontainer
.git
.vscode
build
coverage
docs
example_reports
.env*
dist
node_modules
tsconfig.tsbuildinfo
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
