node_modules
dist
build
coverage
docs
.vscode
tsconfig.tsbuildinfo
.devcontainer/devcontainer.env
.env*
!.env.sample
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
