<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>AO Coverage: Simple code coverage tracking</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css" />
</head>

<body>
  <div id="top-half">
    <div id="container">
      <div id="logo"><img src="/favicon.ico" alt="logo" /></div>
      <h1 id="tagline">Simple Code Coverage Tracking</h1>
    </div>
  </div>
  <div id="bottom-half">
    <div id="container">
      <div id="content">
        <p>AO Coverage is a simple code coverage tracking tool that stores your reports for public visibility and
          provides a coverage badge for your projects. That’s all there is to it.</p>
        <p>If you have a coverage token, uploading a report is as easy as adding this line to your CI pipeline:</p>
        <div class="code-container-container">
          <div class="code-container">
            <span class="shell code">bash &lt;(curl -s {{TARGET_URL}}/bash)</span>
          </div>
        </div>
        <p>Visit <a href="https://git.submelon.dev/kjhoerr/ao-coverage/wiki/Home" target="_blank">the AO Coverage
            documentation</a> to learn more about uploading reports and discover more information about how AO Coverage
          works.</p>
      </div>
    </div>
  </div>
</body>

</html>